global
    daemon
    maxconn 256
    log 127.0.0.1 local0 notice

defaults
    mode http
    log global
    option httplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend controllers

backend controllers
    # 採用輪詢，配合 check 功能偵測健康狀態
    # 若需達成純粹的 Active/Passive，可以透過設定 backup 標籤
    option httpchk GET /api/health
    
    server controller1 controller-1:3000 check fall 3 rise 2
    server controller2 controller-2:3000 check fall 3 rise 2 backup
